

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    /* background:#66cfff; */
}

#container {
    height: 600px;
    width: 600px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    background:black;
    border: 1px solid black;

}

#btns{
    display:flex;
    flex-direction: row;
}

button{
    margin: 20px;
    width: 100px;
    height: 40px;
    outline: 1px solid black;
    border-radius: 5px;
    background: white;

}

.active{
    background-color: green;
}

button:hover{
    background:lightgrey;
}
